# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cpp text
*.c text
*.h text
*.gd text
*.cs text
# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
gd/addons/backgrounds/AllSkyFree_Sky_AnotherPlanet_Equirect.png filter=lfs diff=lfs merge=lfs -text
gd/addons/backgrounds/AllSkyFree_Sky_ClearBlueSky_Equirect.png filter=lfs diff=lfs merge=lfs -text
gd/addons/backgrounds/AllSkyFree_Sky_ColdSunset_Equirect.png filter=lfs diff=lfs merge=lfs -text
gd/blocks/weapons/fixed_laser.blend filter=lfs diff=lfs merge=lfs -text
gd/blocks/weapons/lasers/fixed_laser.mtl filter=lfs diff=lfs merge=lfs -text
gd/blocks/weapons/lasers/fixed_laser.obj filter=lfs diff=lfs merge=lfs -text
gd/addons/lasers/480872__c3sabertooth__blaster-multiple.wav filter=lfs diff=lfs merge=lfs -text
gd/addons/breaking/41348__datasoundsample__glass-shatter.wav filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.material filter=lfs diff=lfs merge=lfs -text
gd/maps/test/props/_defaultMat(Clone).material filter=lfs diff=lfs merge=lfs -text
gd/maps/test/props/jump-edge.glb filter=lfs diff=lfs merge=lfs -text
gd/maps/test/props/road-bump.glb filter=lfs diff=lfs merge=lfs -text
gd/maps/test/props/skate-loop.glb filter=lfs diff=lfs merge=lfs -text
gd/icons/icon.icns filter=lfs diff=lfs merge=lfs -text
gd/icons/256x256/icon.ico filter=lfs diff=lfs merge=lfs -text
gd/icons/512x512/icon.png filter=lfs diff=lfs merge=lfs -text
models/bay.blend filter=lfs diff=lfs merge=lfs -text
gd/editor/models/bay.glb filter=lfs diff=lfs merge=lfs -text
design/editor/concept_art/bay.kra filter=lfs diff=lfs merge=lfs -text
design/weapons/concept_art/plasma_cannon.kra filter=lfs diff=lfs merge=lfs -text
models/plasma_cannon.blend filter=lfs diff=lfs merge=lfs -text
gd/blocks/weapons/plasma/cannon.glb filter=lfs diff=lfs merge=lfs -text
models/wheel.blend filter=lfs diff=lfs merge=lfs -text
design/movement/concept_art/wheel.kra filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
